<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>avatar</key>
		<string>https://avatar-user.mucang.cn/user-avatar/2019/08/20/15/e34114fce9f34ce79c7870ae597eda8a.jpg!100x100</string>
		<key>name</key>
		<string>梅州一霸</string>
		<key>content</key>
		<string>买了VIP之后，就练了3次，科目一去考试考了96分，一次过，还是很不错的。</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>https://avatar-user.mucang.cn/user-avatar/2019/08/01/15/2d9161974802451d80bf81dc69e7e859.jpg!100x100</string>
		<key>name</key>
		<string>牛气冲天</string>
		<key>content</key>
		<string>考科三，驾校就给了两个上午练习，幸好买了通关包，在家用手机就能练灯光。去考试挂了一半人，我是满分的那一个，必须得推荐。</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>https://avatar-user.mucang.cn/user-avatar/2019/08/01/14/716dcb681e184b889d10c06dcdb05731.jpg!100x100</string>
		<key>name</key>
		<string>阳光正好</string>
		<key>content</key>
		<string>教练带我们实地看了考场，还是有点不放心，还好我买了考场视频，复习很多遍，考试果然随机抽取的，幸好我都很熟悉，一把过了。</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>https://avatar-user.mucang.cn/user-avatar/2019/07/23/10/a6ac69d7321e4c59b1c59755411a9eb3.jpg!100x100</string>
		<key>name</key>
		<string>记忆的地方</string>
		<key>content</key>
		<string>这钱花的确实值，我高中没毕业就去打工了，就是很怕考不过科一，那个技巧也太好记了，好多题看看图就会了，考试居然考了94。</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>https://avatar-user.mucang.cn/user-avatar/2019/07/03/17/940c13fdcd3346caaf73b1aa572c2f11.jpg!100x100</string>
		<key>name</key>
		<string>糊涂先森</string>
		<key>content</key>
		<string>我是个老师，上班比较忙，幸好买了这个通关包，科一看了两天就考过了，大多数人会挂的夜间灯光我也一次过了，就等着最后的科四了。</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>https://avatar-user.mucang.cn/user-avatar/2019/06/19/18/411ac72053ee4daa99208c0c80823714.jpg!100x100</string>
		<key>name</key>
		<string>老弓没有故事</string>
		<key>content</key>
		<string>科目三考完来还愿了，之前教练推荐我买这个VIP，还有点犹豫，幸亏买了，不然不会这么快就能考过了。</string>
	</dict>
</array>
</plist>
