<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>avatar</key>
		<string>https://avatar-user.mucang.cn/user-avatar/2019/11/21/11/4d3d33af103c45e0be768f433976d3f5.jpg!100x100</string>
		<key>name</key>
		<string>沧海一梦</string>
		<key>content</key>
		<string>总共在驾校就练了两个上午，从来也没摸过车，一下子懵了，各种灯光操作，完全记不住啊。听教练推荐买了这个模拟器，回来琢磨了一晚上，全搞懂了，考试一次就过了</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>https://avatar-user.mucang.cn/user-avatar/2019/11/21/10/13be373158f3481f916c521e1334a265.jpg!100x100</string>
		<key>name</key>
		<string>我叫不挂科</string>
		<key>content</key>
		<string>同宿舍的姑娘在手机上练那个灯光，看起来像玩游戏一样，还挺意思的，我自己也买了个，考试用的捷达，熟的不能再熟了。</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>https://avatar-user.mucang.cn/user-avatar/2019/12/03/18/fe2d23e4692c4747954afc16adba94af.jpg!100x100</string>
		<key>name</key>
		<string>一片草原</string>
		<key>content</key>
		<string>在网上搜了好多灯光模拟器，都不好用，还是宝典的好使。不但看起来很酷炫，操作也很方便，去考试的时候，一点都不慌。</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>https://avatar-user.mucang.cn/user-avatar/2019/12/03/18/6b18b3999d734209865f66bf7051cf21.jpg!100x100</string>
		<key>name</key>
		<string>明明很好看</string>
		<key>content</key>
		<string>之前考过一次，就是因为对那个老捷达不熟悉，忘记了雾灯在哪里，就挂了。这次听别人推荐，买了这个模拟器，专门针对捷达，我就不信还不过。</string>
	</dict>
</array>
</plist>
