<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>avatar</key>
		<string>https://avatar-user.mucang.cn/user-avatar/2019/12/03/11/b46649d157964a179938b155aa3dc494.jpg!100x100</string>
		<key>name</key>
		<string>不信邪就信你</string>
		<key>content</key>
		<string>教练推荐的软件，果然是很好用啊，考了96分，得瑟下。上班时间紧，少刷那么多题，效果还是挺好的。</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>https://avatar-user.mucang.cn/user-avatar/2019/11/28/13/5cac7bc3912a44cf98431027315a7361.jpg!100x100</string>
		<key>name</key>
		<string>十之有八九</string>
		<key>content</key>
		<string>之前考挂了一次，后来对比下，买了这里的VIP，讨巧的技巧，对我来说还挺有用的，刚刚考完，93分。多说一句，我不是托。</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>https://avatar-user.mucang.cn/user-avatar/2019/11/25/15/0d74a1ba7fc345dabd4c09d5df131c7c.jpg!100x100</string>
		<key>name</key>
		<string>触不可及</string>
		<key>content</key>
		<string>我是懒得花这么多时间刷题的，买了VIP，也就只做了那个500题，花了两三个小时集中练了下，科一一次过，考了95呢。</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>https://avatar-user.mucang.cn/user-avatar/2019/11/21/11/5d78abe20b6442209dfc699f602573be.jpg!100x100</string>
		<key>name</key>
		<string>一缕晨光</string>
		<key>content</key>
		<string>买了个考前秘卷，确实还挺准的，考试的好多题都有，十几分钟就刷刷考完了，98分，是不是还挺厉害的。</string>
	</dict>
</array>
</plist>
