<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>成绩排行</string>
			<key>icon</key>
			<string>file://jiakao_ic_wd_cjph</string>
		</dict>
		<dict>
			<key>title</key>
			<string>同步数据</string>
			<key>icon</key>
			<string>file://jiakao_ic_wd_tbsj</string>
		</dict>
		<dict>
			<key>title</key>
			<string>题库更新</string>
			<key>icon</key>
			<string>file://jiakao_ic_wd_tkgx</string>
		</dict>
		<dict>
			<key>title</key>
			<string>下载管理</string>
			<key>icon</key>
			<string>file://jiaxiao_ic_wd_xzgl</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的收藏</string>
			<key>icon</key>
			<string>file://jiakao_ic_wd_wdsc</string>
		</dict>
		<dict>
			<key>title</key>
			<string>浏览记录</string>
			<key>icon</key>
			<string>file://jiakao_ic_wd_lljl</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的发表</string>
			<key>icon</key>
			<string>file://jiakao_ic_wd_wdfb</string>
		</dict>
		<dict>
			<key>title</key>
			<string>陪练服务</string>
			<key>icon</key>
			<string>file://jiaxiao_ic_wd_zpl</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>我的订单</string>
			<key>icon</key>
			<string>file://jiakao_ic_wd_wddd</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的订阅</string>
			<key>icon</key>
			<string>file://jiakao_ic_wd_wddy</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的发表</string>
			<key>icon</key>
			<string>file://jiakao_ic_wd_wdfb2</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>帮助与反馈</string>
			<key>icon</key>
			<string>file://jiakao_ic_wd_bzyfk</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的设置</string>
			<key>icon</key>
			<string>file://jiakao_ic_wd_wdsz</string>
		</dict>
	</array>
</array>
</plist>
